@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hotel Management</title>
        <style>
            body{
                background-image:url("images/hotel.jpg");
                backgroud-size:cover;
                background-position:center;
                background-repeat:no-repeat;

            }
        </style>
    </head>
    <body>

    </body>
</html>
